.title{
    text-decoration: underline;
    font-weight: bolder;
    font-size: xx-large;
    font-family: sans-serif;
    color:#B384C9;

}

.background {
    background-image: url(wallpaper.jpg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100;
    background-size: cover;
}

.right{
    width: 100px;
    background-color: black;
}

.main{
    background-color: bisque;
}
 


/* CSS */
.next {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
  border-radius: 42px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: Quicksand,sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .04em;
  line-height: 16px;
  margin: 0;
  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  padding: 10px;
}

.next:hover {
  background-image: linear-gradient(#B384C9, #391F5B 50%);
}

@media (min-width: 768px) {
  .button-72 {
    font-size: 21px;
    padding: 18px 34px;
  }
}

#image{
    border-radius: 20px;
    width: 50%;
    height:50%;
}

.links {
    align-content: center;
    padding: 50px;
}

#tablebutton {
    text-decoration: none;
    width: 50%;
    max-width: 50%;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid purple;
    font-family: sans-serif;
    height: 50px;
    color: white;
    background-color: #391F5B;
    
}

th, tr{
    color: white;
    border: 1px solid white;
    margin: 0px;
    text-align: center;
    font-family: sans-serif;
    border-radius: 100px;
}

.table{
    margin: 20px;

}

#button:hover{
    opacity: 0.2;
}

.advert{
    background-color: white;
    width: 150px;
    margin: 0px;
}

.buttontext{
    
}